/** template responsive */
/***********************************************************************************
*************************   Responsive css start here    ***************************
***********************************************************************************/

@media(max-width:991px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.75rem;
    }
    .swiper-parallax {
        .title{
            font-size: 1.75rem;
            margin-bottom: .5rem;
        }
        .subtitle{
            font-size: 15px;
        }
    }
    .carousel.carouselBizwrap{
        height: 400px;
    }
    body{
        font-size: 14px;
    }
    .product_item{
        margin-bottom: 45px;
    }
    .navbar-brand img{
        width:100px;
    }
    .header.header-light{
        .navbar{
            padding: .75rem 1rem;
            .navbar-brand{
                .logo-light{
                    opacity: 0;
                    display: none;
                }
            }
        }
        .navbar.navbar-expand-lg{
            background-color: #fff;
            box-shadow: 0px 3px 10px rgba($darkcolor,.1);
            .container,.container-fluid{
                position: relative;
            }
        }
    }
    .hero-fullscreen{
        .mb-4{
            margin-bottom: .5rem!important;
        }
        .type-wrap{
            margin-bottom: .75rem;
            font-size: 1.75rem;
        }
        .type-img{
            bottom: -75px;
            right: -35px;
        }
        .subtitle,h5{
            font-size: 16px;
            font-weight: 400;
        }
    }
    .one-page-wrap .swiper-fullwidth{
        margin-top:65px;
    }
    .top-bar{
        display: none;
    }
    .navbar-toggler{
         position: absolute;
         color:$skincolor;
        right: 1.5rem;
        top:5px;
        padding:0px;
        .navbar-toggler-icon{
       font-family: "Ionicons";
       line-height:0;
       width:auto;
       height:auto;
        &:before{
                content: "\f1c3";
                font-size:32px;
                @include transition(all .3s);
        }
    }
    .right-search{
        position: absolute;
        right: 0;
        top:0;
    }
    &:focus,&:hover{
        outline: 0!important;
        color: $graycolor;
    }
    &[aria-expanded="true"]{
        .navbar-toggler-icon:before{
            content:"\f406";
        }
    }
    }
    .right-search,.navbar-toggler{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        position: absolute;
        right:0;
        top:5px;
    }
    nav.navbar.navbar-expand-lg .icon-search > i {
        top: 0;
    }
    .navbar-toggler{
        right: 3rem;
    }
   .navbar .dropdown-menu{
        border:0px;
        box-shadow: none;
        padding:0px;
        .dropdown-item{
            padding:2px 20px;
        }
    }
    .yamm .heading{
        margin-bottom: 5px;
        margin-top: 1.5rem;
    }
    .yamm .col-lg-2 img{
        display: none!important;
    }
    .navbar .right-search{
        .dropdown-menu{
            padding: .5rem;
        }
    }
    .swiper-fullwidth .swiper-slide .swiper-overlay {
        .swiper-title{
            font-size: 1.5rem;
            letter-spacing: 0;
            margin-bottom: 1rem;
        }
        p{
            font-size: 14px;
            margin-bottom: 1rem;
        }
    }
    .space-70{
        height: 50px;
    }
    .space-50{
        height: 35px;
    }
    .services-box{
        padding: 0;
        border: 0;
        border-radius: 0;
        margin-bottom: 1.5rem;
    }
    .portfolio-desc{
        padding: 0;
        padding-top: 1.5rem;
        border: 0;
        border-radius: 0;
        .theme-btn-default{
            margin-bottom: 0;
            margin-top: 1rem;
        }
    }
    .btn.btn-lg,.btn.btn-radius.btn-lg {
        padding: .65rem 2rem .65rem;
    }
    .widget-search{
        margin-top: 2rem;
    }
    .dropdown-submenu .dropdown-menu{
        display: block;
        padding-left: 1rem;
    }
    .boxed,.boxed-wrapper{
        width: 98%;
        margin: 0 auto;
        .container-fluid{
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .padd-section,.partners{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media(max-width:767px){
    
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
    .swiper-parallax {
        .title{
            font-size: 1.25rem;
        }
        .subtitle{
            display: none;
        }
    }
    .product_item{
        max-width: 50%;
        margin-bottom: 40px;
    }
  .swiper-fullwidth .swiper-slide .swiper-overlay .swiper-title{
    font-size: 1.25rem;
  }
  .swiper-fullwidth .swiper-slide .swiper-overlay{
      .btn.btn-lg{
        padding: 10px 15px 9px;
      }
  }
  .lead {
    font-size: 1.1rem;
}
.cat-list li a{
    font-size: 12px;
    padding: .35rem .65rem;
}
  .hero-fullscreen{
      .type-wrap{
          font-size: 1.5rem;
      }
      .type-img{
          bottom: 0px;
          right: 0;
      }
  }
  .slider-text p{
   display: none;
  }
    .footer-copyright {
    .footer-logo{
      text-align: center;
      margin-bottom: 10px;
    }
    p{
      text-align: center;
    }
    .footer-nav{
      text-align: center;
    }
  }
  .carousel.carouselBizwrap{
    height:300px;
    p{
        display: none;
    }
    h3{
        text-align: center;
    }
    .carousel-control-prev,.carousel-control-next{
        &:after{
            font-size: 25px;
        }
    }
    .carousel-item .carousel-content{
        margin:0 auto;
         text-align: center;
        .img-fluid{
            display: none;
        }
    }  
}
 .text-xs-center{
   text-align: center;
}
.services-icon{
   margin-bottom: 20px;
}
.cta-bg .btn{
    margin-top: 20px;
}
.page-tree-bg2{
    padding-top: 80px;
}
.page-tree-bg, .page-tree-bg2{
    padding:40px 0;
}
#services .img-fluid{
   margin: 0 auto;
   margin-top: 30px;
   display: block;
}
.slider-wrapper{
   text-align: center;
}
.slider-wrapper-2{
   text-align: center;
   margin-top: 50px;
}
.slider-wrapper-3{
   text-align: center;
   margin-top: 50px;
}
.carousel-indicators {
   bottom: 20px;
}
.dropdown-submenu>.dropdown-menu{
   padding-left: 20px;
}
   .dropdown-submenu > .dropdown-menu {
   display: block;
   margin-left: 15px;
}
.cart-dropdown{
   width:100%;
}
   .tabs .nav-tabs  li {
   width: 100%;
   float: none;
   margin-bottom: 2px;
}
.tabs .nav-tabs  li  a {
   margin-right: 0 !important;
}
.navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
padding-right: 15px; 
padding-left: 15px; 
width: 100%;
}
.navbar-toggler{
border:0px;
&:focus{
   outline: 0px;
}
}
h3.page-tree-text,.price-faq-box h4, .price-faq-box h3,.services-box h4,h4.portfolio-post-title,h4.heading-mini,.blog-post-title,.subtitle,.sidebar-box h4,.process-box h4{
    font-size: 16px;
}
.blog-post-header h3{
    font-size: 1rem;
}
.blockquote{
    font-size: 1rem;
    padding: 1rem;
}
.product-detail{
    padding-top: 2rem;
}
.item-info-tabs > .nav-item > .nav-link {
    margin-bottom: -1px;
    padding: .25rem .5rem;
}
.blog-post-section,{
    padding: .75rem;
    text-align: center;
    .text-right{
        text-align: center!important;
    }
}
.error-digit{
    font-size: 5rem;
}
.person-desc h3{
    margin-bottom:.75rem;
}
.person-desc {
    padding: 1rem;
}
.pricing-head{
    padding: .5rem 1rem;
}
.pricing-rate {
    padding: 1rem .5rem;
}
.price-faq-box{
    padding-top: 0;
}
.error-text p{
    font-size: 1rem;
    margin-bottom: 1rem!important;
}
.pagination li.page-item {
    margin: .10rem;
}
.pagination-lg .page-link {
    padding: .25rem 1rem;
}
.nav-tabs .nav-item > .nav-link{
    padding: 6px 12px;
    font-size: 12px;
}

h4.mb-5{
    margin-bottom: 1.5rem!important;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}
.sidebar-box{
    padding: 0px;
}
.hire-sec .services-icon i{
    line-height: 1;
    margin-bottom: 0;
}
.btn.btn-lg {
    padding: .75rem 1rem .75rem;
    font-size: 11px;
}
.btn.btn-radius {
    padding: .5rem 1.5rem .5rem;
}
.blog-post-info,.blog-post-img{
    margin-bottom: 1rem;
}
.blog-post-detail p:last-child{
    margin-bottom: 1rem;
}
.cbp-l-filters-work .cbp-filter-item{
    padding: 0;
    font-size: 10px;
    margin: 3px;
    line-height: 1.3;
    border: 0px;
    &:hover{
        color: $skincolor;
        background-color: transparent;
    }
}
.cbp-l-filters-work .cbp-filter-item.cbp-filter-item-active{
    background-color: transparent;
    color: $skincolor;
}
.cbp-l-filters-work .cbp-filter-counter{
    margin-left: 1px;
    font-size: 10px;
    line-height: 1.3;
}
.cbp-l-filters-buttonCenter .cbp-filter-item{
    padding: 0px;
    margin: .2rem .75rem;
    line-height: 1;
    border: 0px;
}
.features,.services-text{
    text-align: center;
    i{
        line-height: 1;
    }
}
h3.heading-sec{
    font-size: 1.25rem;
    margin-bottom: 1.75rem;
}
.type-wrap,.cta-bg h3,.features h3,.slider-testimonials p{
    font-size: 1.25rem;
    letter-spacing: 0px;
}
.space-70{
    height: 40px;
}
.space-40{
    height: 20px;
}
.partners,.slider-testimonials,.cta-bg,.padd-section{
padding-top: 40px;
padding-bottom: 40px;
a.my-3{
    margin-bottom: 0!important;
}
}
.btn.btn-radius.btn-lg {
    padding: .75rem 2rem .75rem;
}
.slider-testimonials{
    p{
        font-size:1rem;
    }
    h6{
        font-size:.9rem;
        font-weight: 500;
    }
}
.footer-copyright,.footer-bottom{
    img{
        width: 100px;
    }
}
.carousel.carouselBizwrap .carousel-content h3{
    font-size: 1.5rem;
    line-height: 1.5;
}
}
@media(max-width:575px){
    .product_item{
        max-width: 280px;
    }
    .carousel.carouselBizwrap .carousel-content h3{
        font-size: 1rem;
        line-height: 1.5;
    }
    .hero-fullscreen{
        .type-img{
            position: absolute;
            bottom: -130px;
            right: 25px;
            max-width: 250px;
            z-index: 1;
            opacity: .65;
            @include transform(rotate(90deg));
        }
        .type-wrap,.btn,p,h5{
            z-index: 3;
            position: relative;
        }
    }
    .swiper-fullwidth .swiper-slide .swiper-overlay .swiper-title{
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0px;
    }
    .coupon-code{
        label {
 display: none;
}
.input-text {
    padding-left: 20px;
}
}
.newsletter-subscribe .form-subscribe .btn{
    font-size: 12px;
}
}
@media(max-width:433px){
  .slider-text h1{
    margin-top: 30px;
    font-size: 16px;
  }
}
@media (max-width: 375px){
    .cart-dropdown{
        width:100%;
    }
}
@media(max-width:360px){
    a.carousel-control{
        display: none;
    }
    .carousel-inner .item{
        padding: 20px 0 0;
    }
    .slider-wrapper,.slider-wrapper-2,.slider-wrapper-3{
        margin-top: 20px;
    }
    .carousel-indicators {
        bottom: 0px;
    }
}
