/*****************************sidebar css****************************/
.sidebar-box{
  padding:1rem 0;
  padding-top: 0;
  h4{
   color: $darkcolor;
   margin: 1.5rem 0;
   font-size: .925rem;
    text-transform: uppercase;
    &:first-letter{
      border-bottom: 2px solid $skincolor;
    }
  }
  p{
    margin-bottom: 0px;
  }
  .social-btn li a i{
    color:$graycolor;
    @include border-radius(2rem);
    &:hover{
      border-color: $skincolor;
      color: $skincolor;
    }
    &.ion-logo-facebook{
      color: #4267B2;
      border-color: #4267B2;
      &:hover{
        background-color: #4267B2;
        color: #fff;
      }
    }
    &.ion-logo-twitter{
      color: #38A1F3;
      border-color: #38A1F3;
      &:hover{
        background-color: #38A1F3;
        color: #fff;
      }
    }
    &.ion-logo-googleplus{
      color: #CC3333;
      border-color: #CC3333;
      &:hover{
        background-color: #CC3333;
        color: #fff;
      }
    }
    &.ion-logo-pinterest{
      color: #c8232c;
      border-color: #c8232c;
      &:hover{
        background-color: #c8232c;
        color: #fff;
      }
    }
    &.ion-logo-skype{
      color: #00aff0;
      border-color: #00aff0;
      &:hover{
        background-color: #00aff0;
        color: #fff;
      }
    }
  }
  ul{
    margin-bottom: 0px;
  }
}
.widget-search .search-form{
  position: relative;
  i{
    position: absolute;
    top: 0;
    right:10px;
    line-height: 45px;
    text-align: center;
    color: $graycolor;
  }
}
.cat-list{
  padding: 0px;
  list-style: none;
  li{
    padding: 5px 0;
    display: inline-block;
    a{
      display: block;
      font-size: 13px;
      padding: .5rem 1rem;
      line-height: 1;
      border-radius: 30px;
      border: 1px solid #f5f5f5;
      color:$graycolor;
      text-transform: capitalize;
      &:hover{
        border-color: $skincolor;
      }
    }
  }
}
.recent {
  width: 100%;
  margin-bottom: 20px;
  float: left;
  span img {
    float: left;
    margin-right: 1.25rem;
   height:60px;
   width:auto;
   border-radius: 4px;
   -webkit-border-radius:4px;
  }
  p {
    margin: 0;
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    font-family: $title-font;
    overflow: hidden;
    text-transform: capitalize;
    a{
      color:$darkcolor;
    }
  }
  .recent-date{
    font-weight: 400;
    font-size: 12px;
    color:$graycolor;
    display: block;
    text-align: right;
  }
}
