//some variables for Bizwrap theme, you can create your own easily.
$body-bg:#fff;
$base-line-height:24px;
$skincolor: #1B95E0;
$primarycolor:#8916a6;
$skinactive:#2280ba;
$lightcolor:#fff; //white color and background
$graycolor:#657786; //gray color for p tags
$darkcolor:#14171a; //dark color for heading
$primary-font: 'Open Sans',Helvetica,Arial, sans-serif; //default font family
$secondry-font: 'Merriweather', serif; //sub title font family
$title-font:'Poppins', sans-serif;
$base-font-size:13px; //default basic font size
$alert-color:red; //alert color
$default-border: 1px solid #f5f5f5;

